/*
text-colour: rgb(31, 41, 57);
*/

body {
  background-color: rgb(247, 248, 249);
}

.rbc-event {
  background-color: red;
}

.logo {
  font-size: 2rem;
}

.sideBar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(31, 41, 57);
}

.sideBar_menu ul {
  position: relative;
  top: 5rem;
}

.sideBar_menu a {
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
}

.sideBar_menu a:hover {
  color: rgba(255, 255, 255, 0.6);
}

#sidebarMenu {
  padding: 0;
}

.logout {
  padding-block-end: 5rem;
  padding-inline-start: 1rem;
}

.leading_text {
  font-weight: 600;
  font-size: 1.5rem;
}

.adminBtn,
.employeeBtn,
.managerBtn {
  font-size: 1.3rem;
}

.form {
  display: grid;
  gap: 2rem;
  width: 50%;
  margin: auto;
}

.form button {
  display: inline-block;
  width: max-content;
}

.addTimesheet {
  display: grid;
  place-content: center;
}
.addTimesheet button {
  width: fit-content;
}

.avatar_container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.btn-view {
  margin-block-start: 1rem;
}

.avatar {
  border-radius: 50%;
}

.p {
  text-align: center;
  font-size: 4rem;
  font-family: fantasy;
  margin-block: 5rem;
}

.login_img {
  width: 40%;
  position: relative;
  top: 5rem;
  left: 5rem;
}

.register_img {
  width: 40%;
  position: relative;
  top: 5rem;
  left: 5rem;
}
