
/*
text-colour: rgb(31, 41, 57);
*/

body {
  background-color: rgb(247, 248, 249);
  .magicpattern { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M797 571q-155 71-226 225t-232 90q-161-64-117-225t1.5-320.5Q181 181 340.5 99.5T613 146q113 128 226 241t-42 184Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%233c43d5%22 d=%22M797 571q-155 71-226 225t-232 90q-161-64-117-225t1.5-320.5Q181 181 340.5 99.5T613 146q113 128 226 241t-42 184Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  
}

.logo {
  font-size: 2rem;
}

.sideBar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(31,41,57);
}

.sideBar_menu ul {
  position: relative;
  top: 5rem;
}

.sideBar_menu a {
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
}

.sideBar_menu a:hover {
  color: rgba(255, 255, 255, 0.6);
}

#sidebarMenu {
  padding: 0;
}

.logout {
  padding-block-end: 5rem;
  padding-inline-start: 1rem;
}

.leading_text {
  font-weight: 600;
  font-size: 1.5rem;
}

.adminBtn,
.employeeBtn,
.managerBtn {
  font-size: 1.3rem;
}

.form {
  display: grid;
  gap: 2rem;
  width: 50%;
  margin: auto;
}

.form button {
  display: inline-block;
  width: max-content;
}

.addTimesheet {
  display: grid;
  place-content: center;
}
.addTimesheet button {
  width: fit-content;
}

.p {
  text-align: center;
  font-size: 4rem;
  font-family: fantasy;
  margin-block: 5rem;
}

.login_img {
  width: 40%;
  position: relative;
  top: 5rem;
  left: 5rem;
}

.register_img {
  width: 40%;
  position: relative;
  top: 5rem;
  left: 5rem;
}

