
.logo {
  font-size: 2rem;
}

.leading_text {
  font-weight: 600;
  font-size: 1.5rem;
}

.adminBtn,.employeeBtn,.managerBtn {
  font-size: 1.3rem;
}

.h2 {
  margin-block-end: 3rem;
  text-align: center;
}
.timesheet {
  position: relative;
  top: 5rem;
}

.form {
  display: grid;
  gap: 2rem;
  width: 50%;
  margin: auto;
}

.form button {
  display: inline-block;
  width: max-content;
}

.addTimesheet {
  display: grid;
  place-content: center;
}
.addTimesheet button {
  width: fit-content;
}

.p {
  text-align: center;
  font-size: 4rem;
  font-family: fantasy;
  margin-block: 5rem;
}
